Preparing Data

<p> We will be combining data from three files </p>
<ol>
<li> We will select name, artist, genre, and number of grammy awards from grammySongs_1999-2019.csv. This information is not immediately available from the sheet, so we will group by artist and name and count the number of grammys each song has won. </li>
<li> We will select artist, name, peak position, average position, and weeks on chart from billboardHot100_1999-2019. </li>
<li> We will select artist, name, energy, danceability, tempo, and valence from data/songAtrributes_1999-2019.csv. </li>
</ol>

In [1]:
import pandas as pd
import numpy as np

In [2]:
grammyAwards = pd.read_csv("data/grammySongs_1999-2019.csv")
# grammyAwards = grammyAwards[['Name', 'Artist', 'Genre', 'GrammyAward']]
grammyAwards = grammyAwards[['Name', 'Artist', 'GrammyAward']]
grammyAwards = grammyAwards.groupby(['Name', 'Artist']).count().reset_index()
grammyAwards = grammyAwards.applymap(lambda s: s.upper() if type(s) == str else s)
print(grammyAwards.shape)
grammyAwards.head(5)

(366, 3)

                       Name                   Artist  GrammyAward
0  'TIL SUMMER COMES AROUND              KEITH URBAN            1
1                 24 FRAMES  ASON ISBELL, SONGWRITER            1
2                 24K MAGIC               BRUNO MARS            1
3            500 MILES HIGH     CHICK COREA, SOLOIST            1
4               99 PROBLEMS                    JAY-Z            1

In [8]:
billboardHot100 = pd.read_csv('data/billboardHot100_1999-2019.csv')
billboardHot100 = billboardHot100[['Artists', 'Name', 'Peak.position', 'Weeks.on.chart']]
billboardHot100['Weeks.on.chart'] = billboardHot100['Weeks.on.chart'].fillna(1)
billboardHot100['Peak.position'] = billboardHot100['Peak.position'].fillna(100)
# billboardHot100.groupby(by=['Artist', 'Name']).min('Peak.position').max('Weeks.on.chart')
billboardHot100 = billboardHot100.groupby(['Artists', 'Name']).agg({'Peak.position':'min', 'Weeks.on.chart':'max'})[['Peak.position','Weeks.on.chart']].reset_index()
billboardHot100.rename(
    columns={"Artists":"Artist"}, inplace=True)
billboardHot100 = billboardHot100.applymap(lambda s: s.upper() if type(s) == str else s)
billboardHot100.head(5)

                Artist              Name  Peak.position  Weeks.on.chart
0  "WEIRD AL" YANKOVIC    CANADIAN IDIOT           82.0             3.0
1  "WEIRD AL" YANKOVIC       WORD CRIMES           39.0             2.0
2              'N SYNC       BYE BYE BYE            4.0            23.0
3              'N SYNC              GONE           11.0            24.0
4              'N SYNC  IT'S GONNA BE ME            1.0            25.0

In [4]:
songAttributes = pd.read_csv('data/songAttributes_1999-2019.csv')
songAttributes = songAttributes[['Name', 'Artist', 'Energy', 'Danceability', 'Tempo', 'Valence']]
songAttributes = songAttributes.applymap(lambda s: s.upper() if type(s) == str else s)
songAttributes.head(5)

                Name           Artist  Energy  Danceability    Tempo  Valence
0  WELCOME ALL AGAIN  COLLECTIVE SOUL   0.904         0.520  106.022    0.365
1              FUZZY  COLLECTIVE SOUL   0.709         0.581  120.027    0.408
2                DIG  COLLECTIVE SOUL   0.918         0.572  144.061    0.370
3                YOU  COLLECTIVE SOUL   0.661         0.596  111.975    0.183
4            MY DAYS  COLLECTIVE SOUL   0.808         0.520   92.721    0.666

In [5]:
songAttributes2 = pd.read_csv('data/songAttributesV2.csv')
# songAttributes.columns
songAttributes2 = songAttributes2[['song_title', 'artist', 'energy', 'danceability', 'tempo', 'valence']]
songAttributes2.rename(
    columns={"song_title":"Name", "artist":"Artist"}, inplace=True)
songAttributes2 = songAttributes2.applymap(lambda s: s.upper() if type(s) == str else s)
songAttributes2.head(5)

             Name            Artist  energy  danceability    tempo  valence
0        MASK OFF            FUTURE   0.434         0.833  150.062    0.286
1         REDBONE  CHILDISH GAMBINO   0.359         0.743  160.083    0.588
2    XANNY FAMILY            FUTURE   0.412         0.838   75.044    0.173
3  MASTER OF NONE       BEACH HOUSE   0.338         0.494   86.468    0.230
4  PARALLEL LINES       JUNIOR BOYS   0.561         0.678  174.004    0.904

In [6]:
# grammyAwards.set_index(['Name', 'Artist']).join(songAttributes.set_index(['Name', 'Artist']), how='left').reset_index()
# inProgress = grammyAwards.merge(songAttributes, on=['Name', 'Artist'], how='left').drop_duplicates(subset=['Name'], keep='first')
inProgress = grammyAwards.merge(songAttributes, on=['Name', 'Artist'], how='left').drop_duplicates(subset=['Name', 'Artist'], keep='first')
# inProgress
# inProgress.merge(songAttributes2, on=['Name', 'Artist'], how='left')
# grammyAwards.drop_duplicates(subset=['Name'], keep='first')

,Name,Artist,GrammyAward,Energy,Danceability,Tempo,Valence,energy,danceability,tempo,valence
0,'TIL SUMMER COMES AROUND,KEITH URBAN,1,0.629,0.570,127.907,0.308,NaN,NaN,NaN,NaN
1,24 FRAMES,"ASON ISBELL, SONGWRITER",1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,24K MAGIC,BRUNO MARS,1,0.803,0.818,106.970,0.632,NaN,NaN,NaN,NaN
3,500 MILES HIGH,"CHICK COREA, SOLOIST",1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,99 PROBLEMS,JAY-Z,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
361,YOU DON'T KNOW MY NAME,ALICIA KEYS,1,0.663,0.263,167.271,0.250,NaN,NaN,NaN,NaN
362,YOU GOT ME,THE ROOTS FEATURING ERYKAH BADU,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
363,YOU SAY,"LAUREN DAIGLE; LAUREN DAIGLE, JASON INGRAM & P...",1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
364,YOU WANT IT DARKER,LEONARD COHEN,1,0.327,0.674,108.995,0.494,NaN,NaN,NaN,NaN
365,YOUR BODY IS A WONDERLAND,JOHN MAYER,1,0.729,0.647,94.010,0.687,NaN,NaN,NaN,NaN

In [12]:
inProgress.merge(billboardHot100, on=['Name', 'Artist'], how='left').head(60)

,Name,Artist,GrammyAward,Energy,Danceability,Tempo,Valence,Peak.position,Weeks.on.chart
0,'TIL SUMMER COMES AROUND,KEITH URBAN,1,0.629,0.570,127.907,0.3080,NaN,NaN
1,24 FRAMES,"ASON ISBELL, SONGWRITER",1,NaN,NaN,NaN,NaN,NaN,NaN
2,24K MAGIC,BRUNO MARS,1,0.803,0.818,106.970,0.6320,4.0,41.0
3,500 MILES HIGH,"CHICK COREA, SOLOIST",1,NaN,NaN,NaN,NaN,NaN,NaN
4,99 PROBLEMS,JAY-Z,1,NaN,NaN,NaN,NaN,NaN,NaN
5,ADORN,MIGUEL,1,0.576,0.625,179.063,0.2350,17.0,33.0
6,AGAIN,LENNY KRAVITZ,1,NaN,NaN,NaN,NaN,4.0,32.0
7,AIN'T NO OTHER MAN,CHRISTINA AGUILERA,1,0.742,0.862,127.910,0.5110,6.0,20.0
8,AIN'T IT FUN,PARAMORE,1,0.893,0.610,104.031,0.6730,10.0,24.0
9,ALRIGHT,"ENDRICK DUCKWORTH, KAWAN PRATHER, MARK ANTHONY...",1,NaN,NaN,NaN,NaN,NaN,NaN
10,ALRIGHT,KENDRICK LAMAR,1,0.766,0.796,110.034,0.5580,81.0,14.0
11,AMERICAN WOMAN,LENNY KRAVITZ,1,0.670,0.688,83.988,0.5370,49.0,21.0
12,ANGEL,LALAH HATHAWAY,1,NaN,NaN,NaN,NaN,NaN,NaN
13,ANGRY WORLD,NEIL YOUNG,1,NaN,NaN,NaN,NaN,NaN,NaN
14,B.Y.O.B.,SYSTEM OF A DOWN,1,0.981,0.556,101.423,0.7160,27.0,20.0
15,BAD ROMANCE,LADY GAGA,1,0.921,0.696,119.001,0.7140,2.0,35.0
16,BANGARANG,SKRILLEX FEATURING SIRAH,1,NaN,NaN,NaN,NaN,NaN,NaN
17,BARTON HOLLOW,THE CIVIL WARS,1,NaN,NaN,NaN,NaN,NaN,NaN
18,BE OK,WILLI.AM,1,NaN,NaN,NaN,NaN,NaN,NaN
19,BE WITHOUT YOU,MARY J BLIGE,2,NaN,NaN,NaN,NaN,NaN,NaN
20,BEAUTIFUL,CHRISTINA AGUILERA,1,0.567,0.435,76.218,0.0987,2.0,27.0
21,BEAUTIFUL DAY,"BONO, ADAM CLAYTON, EDGE, LARRY MULLEN JR), SO...",1,NaN,NaN,NaN,NaN,NaN,NaN
22,BEAUTIFUL DAY,U2,2,0.928,0.536,136.258,0.3890,21.0,25.0
23,BEFORE HE CHEATS,CARRIE UNDERWOOD,2,0.746,0.530,147.875,0.3020,8.0,64.0
24,BEFORE I FORGET,SLIPKNOT,1,NaN,NaN,NaN,NaN,NaN,NaN
25,BELIEVE,CHER,1,0.917,0.652,132.975,0.4590,1.0,31.0
26,BEST PART,HE.R. FEATURING DANIEL CAESAR,1,NaN,NaN,NaN,NaN,NaN,NaN
27,BETTER MAN,LITTLE BIG TOWN,1,0.836,0.514,143.888,0.5010,34.0,20.0
28,BITTERSWEET,FANTASIA,1,0.811,0.735,129.983,0.4240,74.0,12.0
29,BLACKSTAR,DAVID BOWIE,2,0.552,0.366,97.980,0.1140,100.0,1.0
30,BLAME IT,JAMIE FOXX & T-PAIN,1,NaN,NaN,NaN,NaN,NaN,NaN
31,BLESS THE BROKEN ROAD,RASCAL FLATTS,1,0.448,0.588,135.949,0.3620,29.0,20.0
32,BLOWN AWAY,CARRIE UNDERWOOD,2,0.836,0.524,136.942,0.3880,20.0,22.0
33,BODY AND SOUL,TONY BENNETT & AMY WINEHOUSE,1,NaN,NaN,NaN,NaN,NaN,NaN
34,BOO'D UP,ELLA MAI,1,NaN,NaN,NaN,NaN,5.0,35.0
35,BOULEVARD OF BROKEN DREAMS,GREEN DAY,1,NaN,NaN,NaN,NaN,2.0,36.0
36,BRAND NEW DAY,STING,1,0.612,0.465,112.456,0.4340,NaN,NaN
37,BREATHE,FAITH HILL,1,NaN,NaN,NaN,NaN,2.0,53.0
38,BRING ME TO LIFE,EVANESCENCE FEATURING PAUL MCCOY,1,NaN,NaN,NaN,NaN,NaN,NaN
39,BROKEN HALOS,CHRIS STAPLETON,1,NaN,NaN,NaN,NaN,45.0,20.0
40,BUBBLIN,ANDERSON PAAK,1,NaN,NaN,NaN,NaN,NaN,NaN
41,BUTTERFLIES,KACEY MUSGRAVES,1,NaN,NaN,NaN,NaN,NaN,NaN
42,CALL MY NAME,PRINCE,1,NaN,NaN,NaN,NaN,75.0,18.0
43,CAN'T STOP THE FEELING!,"JUSTIN TIMBERLAKE, ANNA KENDRICK, GWEN STEFANI...",1,NaN,NaN,NaN,NaN,NaN,NaN
44,CHASING PAVEMENTS,ADELE,1,0.473,0.621,80.027,0.3250,21.0,7.0
45,CHEROKEE,"CHRISTIAN MCBRIDE, SOLOIST",1,NaN,NaN,NaN,NaN,NaN,NaN
46,CHOICES,GEORGE JONES,1,NaN,NaN,NaN,NaN,NaN,NaN
47,CIRICE,GHOST,1,NaN,NaN,NaN,NaN,NaN,NaN
48,CITY OF BLINDING LIGHTS,"BONO, ADAM CLAYTON, EDGE, LARRY MULLEN JR), SO...",1,NaN,NaN,NaN,NaN,NaN,NaN
49,CLARITY,ZEDD FEATURING FOXES,1,NaN,NaN,NaN,NaN,NaN,NaN
50,CLIMAX,USHER,1,NaN,NaN,NaN,NaN,17.0,20.0
51,CLOCKS,COLDPLAY,1,NaN,NaN,NaN,NaN,29.0,22.0
52,COME INTO MY WORLD,KYLIE MINOGUE,1,0.817,0.606,125.002,0.8360,91.0,8.0
53,COME ON OVER,SHANIA TWAIN,1,NaN,NaN,NaN,NaN,58.0,10.0
54,COUSIN DUPREE,STEELY DAN,1,NaN,NaN,NaN,NaN,NaN,NaN
55,CRACK A BOTTLE,"EMINEM, DR DRE & 50 CENT",1,NaN,NaN,NaN,NaN,NaN,NaN
56,CRANES IN THE SKY,SOLANGE,1,0.615,0.719,96.988,0.4650,74.0,2.0
57,CRAWLING,LINKIN PARK,1,0.702,0.580,105.076,0.2990,79.0,20.0
58,CRAZY,GNARLS BARKLEY,1,NaN,NaN,NaN,NaN,2.0,29.0
59,CROSS MY MIND,JILL SCOTT,1,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# a = np.array([])
# a = np.append(a, grammyAwards.Artist.unique())
# grammyAwards.Artist.unique()
# a = np.append(a, billboardHot100.Artists.unique())
# np.savetxt('myfile.csv', a, delimiter=',', fmt="%s")
# len(a)
# grammyAwards.Artist.unique()